* {
    margin: auto;
}

body {
    margin: 30px;
    padding: 50px;
    display: flex;
}

#wrapper {
    margin: 30px;
    padding: 50px;
    display: flex;
}

.category {
    display: flex;
    flex-direction: column;
}